.container {
}

.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;

  justify-content: space-between;
}

.menu {
  padding: 4px;
  display: inline-flex;
  justify-content: center;

  width: 100%;
  border: 1px solid black;
  background-color: #d7c9da;
}

.menu_active {
  padding: 4px;
  display: inline-flex;
  justify-content: center;

  width: 100%;
  border: 1px solid black;
  background-color: darkmagenta;
}

.contents {
  margin-top: 30 px;
}

.content1 {
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  font-size: 200px;
  background-color: darkcyan;
}

.content2 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: darkkhaki;
}

.content3 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: darkorange;
}

.content4 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: floralwhite;
}

.content5 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: saddlebrown;
}

.content6 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: cornsilk;
}

.content7 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: wheat;
}

.content8 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: goldenrod;
}

.content9 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: tomato;
}

.content10 {
  font-size: 200px;
  width: 100%;
  text-align: center;
  height: 700px;
  line-height: 700px;
  background-color: gainsboro;
}
